.header {
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  /* border-bottom: 1px solid black; */
}

.header button {
  border: 1px solid black;
  border-radius: 0;
  background: transparent;
  /* color: white; */
  font-size: 1rem;
  height: 2rem;
  width: 10rem;
  transition: all 0.4s;
}

.header button:hover {
  background: black;
  color: white;
}

.bg {
  position: relative;
  width: fit-content;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  99% {
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

.logo {
  position: absolute;
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
}

.logo img {
  position: relative;
  left: 0;
  top: 10%;
}

.dot {
  position: absolute;
  width: 10%;
  height: 0;
  padding-bottom: 10%;
  background-color: #00ffa2;
  /* background-color: black; */
  border-radius: 50%;
}

.d1 {
  left: 1.5%;
  top: 20%;
}

.d2 {
  left: 42%;
  top: 38%;
}

.d3 {
  left: 42%;
  top: 60%;
}

.d4 {
  left: 79.3%;
  top: 51%;
}

.d5 {
  left: 100%;
  top: 20%;
  transition: all 1s;
}

.bg span {
  font-size: 6vw;
  font-weight: 900;
  color: gainsboro;
  transition: all 1s;
}

.bg span:hover {
  color: black;
}

.category1:hover ~ .d5 {
  top: 0%;
  left: 70%;
}

.category2:hover ~ .d5 {
  top: 100%;
  left: 20%;
}

.category3:hover ~ .d5 {
  top: 60%;
  left: 10%;
}

.category4:hover ~ .d5 {
  top: 20%;
  left: 70%;
}

.category5:hover ~ .d5 {
  top: 100%;
  left: 100%;
}

.d1:hover ~ .category1,
.d2:hover ~ .category2,
.d3:hover ~ .category3,
.d4:hover ~ .category4,
.d5:hover ~ .category5 {
  color: black;
}
